<section class="card" fxFlex='100'>
    <div fxFlex='35' class="left-side" fxLayoutAlign="center">
        <div fxLayout="column">
            <h2>confirm registration</h2>
            <h6>confirm profile information</h6>
        </div>
        <img src="assets/img/graphics.png" alt="">
    </div>
    <div fxFlex='65' class="right-side" fxLayoutAlign="center" fxLayout="column">
        <div fxFlex='20' fxLayoutAlign="center" fxLayout="column" class="center">
            <img src="./assets/img/tick_verified.png" alt="" >
            <h2>Success</h2>
            <h5>Thank you have completed successfully</h5>
            <h5>your profile registration</h5>
        </div>
    </div>
</section>